# Logs
logs
*.log
npm-debug.log*

# electron-packager
mPad-darwin-x64   
mPad-linux-armv7l 
mPad-linux-ia32   
mPad-linux-x64    
mPad-mas-x64      
mPad-win32-ia32   
mPad-win32-x64 

# yarn lock file
yarn.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
