<table>
  <thead>
    <td>
      <h3>Markdown Syntax</h3>
    </td>
    <td>
      <h3>HTML Result</h3>
    </td>
  </thead>
  <tr>
    <td><pre># H1</pre></td>
    <td><h1>H1</h1></td>
  </tr>
  <tr>
    <td><pre>## H2</pre></td>
    <td><h2>H2</h2></td>
  </tr>
  <tr>
    <td><pre>### H3</pre></td>
    <td><h3>H3</h3></td>
  </tr>
  <tr>
    <td><pre>#### H4</pre></td>
    <td><h4>H4</h4></td>
  </tr>
  <tr>
    <td><pre>##### H5</pre></td>
    <td><h5>H5</h5></td>
  </tr>
  <tr>
    <td><pre>- listitem</pre></td>
    <td><ul><li>listitem</li></ul></td>
  </tr>
  <tr>
    <td><pre>1. counted listitem</pre></td>
    <td><ol><li>counted listitem</li></ol></td>
  </tr>
  <tr>
    <td><pre>[LinkTitle](https://www.limeblack.de)</pre></td>
    <td><a href="http://www.limeblack.de">LinkTitle</a></td>
  </tr>
  <tr>
    <td><pre>
![alt text][logo]

[logo]: https://goo.gl/PQQ6M3 "Logo Title Text 2"
    </pre></td>
    <td><img src="https://goo.gl/PQQ6M3" height="200" width="300" title="Logo Title Text 2"></td>
  </tr>
  <tr>
    <td><pre>*italic* _text_</pre></td>
    <td><p><i>italic text</i></p></td>
  </tr>
  <tr>
    <td><pre>**bold** __text__</pre></td>
    <td><p><b>bold text</b></p></td>
  </tr>
  <tr>
    <td><pre>~~strikethrough text~~</pre></td>
    <td><p style="text-decoration: line-through;">strikethrough text</p></td>
  </tr>
  <tr>
    <td><pre>Inline `code` has `back-ticks around` it.</pre></td>
    <td><p>Inline <pre>code</pre> has </pre>back-ticks around</pre> it.</p></td>
  </tr>
  <tr>
    <td><pre>
```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
    </pre></td>
    <td><pre>
var s = "JavaScript syntax highlighting";
alert(s);
    </pre></td>
  </tr>

</table>
